

 <% @today = Date.today %>
  <% @nextday = Date.today+1 %>
 <%#= (@nextday.to_date - @today.to_date).to_i %>
<%# @today = time.strftime("%B %d, %Y") %>

<% if my_issues.count==0 %>

<%= "There is no issue assigned to you " %>

<% else %>
<% nc = my_issues.count %>
<table class="tableSection">
 <thead><tr>
    <th ><b><%= "ID" %></b></th>
    <th ><b><%= "Project" %></b></th>
    <th ><b><%= "Issues" %></b></th>
    <th ><b><%= "Due Date" %></b></th>
    <th ><b><%= "Priority" %></b></th>
    <th><b><%= "Progressive Status" %></b></th>
    
</tr></thead>
 <tbody class="scbdy">

  <% count = 0 %>
<% for i in my_issues %>

    <%# break  if count>15 %>
    <tr class=" <%= cycle("odd", "even") %>">
    <td> <%= link_to i.project_issue_id, issue_path(i) %> </td>
    <td>
      <em><b><%= link_to_project(i.project) %></b></em>
    </td>
    <td>
      <%= link_to truncate(i.subject.capitalize, :length => 60), issue_path(i) %> <!--(<%=h i.status %>) -->
    </td>
    
      <td>
     <%= i.due_date %>
  </td>
    <td >
    <% if i.priority_id == 1 %>
        <%="Low"%>
    <%  elsif i.priority_id ==2 %>
        <%= "Normal" %>
     <%   elsif i.priority_id==3 %>
        <%= "High" %>
      
     <% elsif i.priority_id ==4 %>
        <%= "Urgent" %>
     <% else %>
     <%= "Immediate" %>
     
     <% end %>
    </td>
    
   
  <% if i.due_date!= nil %>
  <% sub_date = (i.due_date - i.updated_on.to_date ).to_i  %>
  <% end %>
    <td  >
     <% if sub_date!= nil && sub_date < 0  %>
          <%#= image_tag '/plugin_assets/imeetdashboard/images/red.jpg', :size  => '22x22' %> 
      <div class="nice round progresswork alert large-10"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div>
     <% elsif sub_date!= nil && sub_date >= 2   %>
          <%#= image_tag '/plugin_assets/imeetdashboard/images/green.jpg', :size  => '22x22' %> 
      <div class="nice round progresswork large-6"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div>
     <% elsif sub_date!= nil && sub_date == 1 && i.done_ratio <= 80  %>
          <%#= image_tag '/plugin_assets/imeetdashboard/images/yellow.jpg', :size  => '22x22' %> 
      <div class="nice round progresswork success large-10"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div>

     <% elsif sub_date!= nil && sub_date == 1 && i.done_ratio >= 80  %>
          <%#= image_tag '/plugin_assets/imeetdashboard/images/green.jpg', :size  => '22x22' %> 
      <div class="nice round progresswork large-6"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div> 

     <% elsif sub_date!= nil && sub_date == 0 && i.done_ratio != 100 %>
          <%#= image_tag '/plugin_assets/imeetdashboard/images/red.jpg', :size  => '22x22' %> 
      <div class="nice round progresswork alert large-10"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div>

     <% elsif sub_date!= nil && sub_date == 0 && i.done_ratio == 100 %>
          <%#= image_tag '/plugin_assets/imeetdashboard/images/green.jpg', :size  => '22x22' %> 
      <div class="nice round progresswork large-6"> 
      <span class="meter" style="width: <%= i.done_ratio %>%"><%= i.done_ratio %>%</span> 
      </div> 

     <% end %> 
    </td>
   
     </tr>

       <% count = count+1 %>
  <% end %>

<% end %>
</tbody>


</table>

