 
<table class="list files">
  <tr bgcolor="#eaeaea">
    <td width="5x"><b><%= "Type" %></b></td>
    <td><b><%= "From" %></b></td>
    <td><b><%="When" %></b></td>

  </tr>

    <tr class="file <%= cycle("odd", "even") %>">
    <td class="filename"> <%= image_tag '/plugin_assets/imeetdashboard/images/voice.png', :size  => '22x22' %> </td>
    <td class="created_on"> (312)555-1212</td>
    <td class="created_on"> 2 mins ago</td>
    </tr>


    <tr class="file <%= cycle("odd", "even") %>">
    <td class="filename"> <%= image_tag '/plugin_assets/imeetdashboard/images/text.png', size: '22x22'%> </td>
    <td class="created_on"> (312)555-1212</td>
    <td class="created_on"> 7 mins ago</td>
     </tr>
    <tr class="file <%= cycle("odd", "even") %>">
    <td class="filename"> <%= image_tag '/plugin_assets/imeetdashboard/images/text.png', size: '22x22' %> </td>
    <td class="created_on"> (312)555-1212</td>
    <td class="created_on"> 9:35</td>

     </tr>
    <tr class="file <%= cycle("odd", "even") %>">
    <td class="filename"> <%= image_tag '/plugin_assets/imeetdashboard/images/mail.png', size: '22x22' %> </td>
    <td class="created_on"> (312)555-1233</td>
    <td class="created_on"> 9:19</td>

</tr>
</table>


<a href = "#">more..</a>