
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'company', :plugin => 'company' %>
<% end %>

<h2> Company Details</h2>
<div class="com-detail">
	<table class="company">
		
		<tr>
			<td>Name</td>
			<td> <%= @company.name %></td>
		</tr> 
		<tr>
			<td>Email</td>
			<td><%= @company.email %></td>
		</tr>
		<tr>
			<td>Details</td>
			<td><%= @company.description %></td>
		</tr>
		<tr>
			<td>Company Logo</td>
			<td><%= image_tag @company.avatar_url(:thumb)%></td>
		</tr>
		
	</table>
<div class="new-button" style="float:left; margin-top:10px;"><%= link_to 'Edit', edit_company_path(@company, :comp => "mycompany") %> 
</div>

<% content_for :sidebar do %>
    <h3><%=l(:label_administration)%></h3>
    <%= render :partial => 'admin/menu' %>
  <% end %>